{% extends '@Iti/layout.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}
{% block body %}
    <div id="lyon_back"></div>
{% endblock %}

{% block javascripts %}{% endblock %}